.attack-roll-box{
    border: 2px ridge gold;
    text-align: center;
}

.attack-roll-box h2, h3{
    margin-bottom: 0px;
}

.attack-roll-box h2:hover{
    color: red;
    cursor: pointer;
}

.dice-icon{
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}