h2, h3, h4{
    margin: 5px;
}

#character-equip-cont{
    border: 2px solid gray;
    width: 100%;
    height: 100%;
    margin: auto;
}

#character-equip-list{
    column-count: 6;
    column-gap: 0px;
    list-style: none;
    padding-left: 0%;
    padding-right: 0%;
}

#character-equip-list li{
    border: 1px solid gray;
    padding: 0px;
    display: inline-block;
    width: 100%;
}