h2, h3, h4{
    margin: 5px;
}

#character-equip-cont{
    border: 2px ridge gold;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

#character-equip-list{
    column-count: 6;
    column-gap: 0px;
    padding-left: 0%;
    padding-right: 0%;
}

#character-equip-list li{
    padding: 0px;
    border: 2px ridge gold;
    display: inline-block;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}