.character-spell-box{
    border: 2px ridge gold;
}

.character-spell-box h4{
    margin: 1px;
}

.character-spell-box p{
    margin: 1px;
}

.character-spell-box{
    font-size: small;
}

.character-spell-box-desc{
    font-size: smaller;
}

.character-spell-box ul{
    list-style-type: none;
}