h2, h3, h4{
    margin: 5px;
}

.Collapsible__trigger{
    text-align: center;
}

section{
    display: inline;
}

section:hover{
    color: red;
    cursor: pointer;
}

#character-page{
    width: 100%;
    margin: auto;
    margin-left: 1%;
    display: grid;
    grid-template-columns: 35fr 5fr;
}

#sidebar{
    margin-right: 10%;
    padding-top: 5%;
    text-align: left;
}

#sidebar ul{
    list-style-type: none;
}

#sidebar button{
    margin-left: 15%;
}

#sidebar-content{
    border: 2px ridge gold;
}

.character-input-num-med{
    width: 40%;
    text-align: center;
}

.character-centertext{
    text-align: center;
}

.character-input-num-big{
    width: 25%;
    text-align: center;
    font-size: larger;
}

.character-input-num-small{
    width : 30%;
    text-align: center;
}

#character-skill-cont{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 2fr;
}

.character-skill-box-small{
    border: 2px ridge gold;
}
.character-skill-box-subbox{
    width: 100%;
    border: 2px ridge gold;
}

.character-skill-box-subbox p{
    margin: 5px;
}

.character-skill-box-large{
    border: 2px ridge gold;
}

#character-profs-altres-cont{
    width: 100%;
    margin: auto;
    display: grid; 
    grid-template-columns: 2fr 4fr 1fr;
}

#character-spell-big-cont{
    border: 2px ridge gold;
    width: 100%;
    margin: auto;
}

