#roll-cont{
    border: 2px ridge gold;
    height: 700px;
    overflow-y: scroll;
}

.fail{
    color: red;
}

.crit{
    color: green;
}

.attack-roll-box{
    border: 2px ridge gold;
    text-align: center;
}

.attack-roll-box h2, h3{
    margin-bottom: 0px;
}

.attack-roll-box h2:hover{
    color: red;
    cursor: pointer;
}