.character-input-num-med{
    width: 40%;
    text-align: center;
}

.character-centertext{
    text-align: center;
}

.character-input-num-big{
    width: 25%;
    text-align: center;
    font-size: larger;
}

.character-input-num-small{
    width : 30%;
    text-align: center;
}

#character-basic-cont{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.character-basic-box{
    border: 2px solid black;
    padding: 5px;
}

.character-basic-box p{
    margin: 5px;
}

#character-core-stat-cont{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.character-core-stat-box{
    border: 2px solid black;
}

#character-combat-stats-cont{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.character-combat-stat-box{

    border: 2px solid black;
}

#character-hp-box p{
    margin: 5px;
}

#character-skill-cont{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.character-skill-box-small{
    border: 2px solid black;
}
.character-skill-box-subbox{
    width: 100%;
    border: 2px solid black;
}

.character-skill-box-subbox p{
    margin: 5px;
}

#character-saving-profs-list{
    text-align: left;
}

.character-skill-box-large{
    border: 2px solid black;
}

#character-skill-list{
    column-count: 3;
}

#character-skill-list li{
    text-align: left;
}

#character-attack-big-cont{
    border: 2px solid black;
    text-align: center;
    margin: auto;
    width: 80%;
}

#character-attack-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.character-attack-box{
    border: 2px solid black;
    text-align: left;
    font-size: small;
}

.character-attack-box h3{
    text-align: center;
}

#character-trait-big-cont{
    border: 2px solid black;
    text-align: center;
    margin: auto;
    width: 80%;
}
#character-trait-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.character-trait-box{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}

.character-trait-box p{
    font-size: small;
}

#character-feat-big-cont{
    border: 2px solid black;
    text-align: center;
    margin: auto;
    width: 80%;
}
#character-feat-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.character-feat-box{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}

.character-feat-box p{
    font-size: small;
}