body{
    background-image: url('./images/parchment.jpg');
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

textarea{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

option{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.error{
    color: red;
}